{% load static %}
{% include 'tv_show/header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="horizont-container">
    <div class="horizont">
        {% for i in tv_shows %}
<div class="card" style="width: 18rem;">
  <img src="{{ i.image }}" class="card-img-top" alt="" width="400" height="350">
  <div class="card-body">
    <h5 class="card-title">{{i.title }}</h5>
    <p class="card-text">{{i.get_category_display }}</p>
    <a href="/show_tv_shows/{{i.id}}" class="btn btn-primary">Подробнее</a>
  </div>
</div>

    
{% endfor %}
        
    </div>
</div>
<br><br><br>
{% include 'tv_show/footer.html' %}