{% include 'tv_show/header.html' %}
<img src="{{tv_shows_id.image }}" alt="" width="400" height="350">
<h1>{{tv_shows_id.name}}</h1>
<p>{{tv_shows_id.description}}</p>
<p>{{tv_shows_id.category}}</p>
<p>{{tv_shows_id.created_at}}</p>

<ul>
    {% for i in tv_shows_id.film_reviews.all %}
        <li>
            <h2>{{ i.text }}</h2>
        </li>
    {% endfor %}
</ul>
<hr>

<button><a href="/show_tv_shows/{{tv_shows_id.id}}/update/">Изменить фильм</a></button>
<button><a href="/show_tv_shows/{{tv_shows_id.id}}/delete/">Удалить фильм</a></button>
<hr>
{% include 'tv_show/footer.html' %}